
services: 
  fastapi:
    container_name: fastapi
    image: localhost/fastapi_001:2.5
    networks:
     - network1
    ports: 
      - "8000:8000"
    volumes:
      - logs:/app/logs
    env:
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_ID
        valueFrom:
          fieldRef:
            fieldPath: metadata.podIP
      - name: NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.nodeName

# volumes: 
#   logs:
#
# networks: 
#   network1:
#     driver: bridge
#
#
